/* You can add global styles to this file, and also import other style files */

@import '~font-awesome/css/font-awesome.css';
.signup-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #2d3748;
    padding-top: 10px;
    margin: 0;
}

.butttons {
    width: 5vw;
    border-radius: 20px;
    color: gray;
    height: 4vh;
}

.main-body {
    background-color: #d3dae19c;
    padding: 1vw;
    display: flex;
}

.title-body {
    background-color: #1f293e;
    width: 40%;
    color: white;
    padding: 33vh 13vw;
}

.page-title {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

.description {
    color: #c5c0c0;
    font-size: 12px;
}

.avatar {
    height: 30px;
    width: 30px;
}

.avatar1 {
    height: 30px;
    width: 30px;
    position: relative;
    right: 9px;
}

.sub-body {
    background-color: #f8f9fa;
    width: 35%;
}

.input-title {
    margin: 0;
}

.input-body {
    border-radius: 4px;
    /* border-bottom: red; */
    width: 100%;
    border: 1px solid gray;
    background-color: #eceef1b8;
    height: 5vh;
    margin-bottom: 12px;
}