<div style="background-color: #d3dae19c; padding: 1vw; display: flex;">
    <div class="title-body">
        <div>
            <p class="page-title"> Welcome to <br> our Community</p>
        </div>
        <div>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi magni officiis at asperiores optio ducimus veritatis voluptatum pariatur veniam temporibus fuga dolorem aliquam qui incidunt est.</p>
        </div>
        <div>
            <img src="/assets/profile.png" class="avatar">
            <img src="/assets/man.png" class="avatar1">
            <img src="/assets/profile.png" class="avatar1">
            <img src="/assets/man.png" class="avatar1">
            <label style="    font-size: 12px;
    color: #c5c0c0;">More than 17 pepole joined us</label>
        </div>
    </div>




    <div class="sub-body">
        <div class="sub-bdy-padding">
            <img src="/assets/42527.svg" style="width: 40px; color: blue;">


            <div>
                <p class="signup-title">
                    Sign In
                </p>
                <p>Don't have account ? <a routerLink="/Signup">  Signup</a></p>

                <div>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

                        <div class="abc">
                            <label class="input-title">
              Email address :
            </label>
                            <br>
                            <input type="email" class="input-body" formControlName="email">
                            <div *ngIf="f.email && f.email.errors && (f.email.dirty || f.email.touched || submitted)" style="color: red; font-size: 11px">
                                <span *ngIf="  f.email.errors.required">
                email is Required
              </span>
                                <span *ngIf=" f.email.errors.pattern">
                Email should be correct parten
              </span>


                            </div>
                        </div>

                        <div class="abc">
                            <label class="input-title">
              Password *
            </label>
                            <br>
                            <input type="text" class="input-body" formControlName="password">
                            <div *ngIf="f.password && f.password.errors && (f.password.dirty || f.password.touched || submitted)" style="color: red; font-size: 11px">
                                <span *ngIf="  f.password.errors.required">
                Password is Required
              </span>
                                <span *ngIf=" f.password.errors.minlength">
                Please enter a Password at least 4 characters.
              </span>


                            </div>
                        </div>

                        <div class="check-box-body">
                            <div class="check-title">
                                <input type="checkbox" formControlName="checkValue">
                                <label class="title-check-box">Resume me </label>
                            </div>
                            <label style="margin : 0">Forget Password</label>
                        </div>


                        <div style="text-align: center; padding-top: 4vh;">
                            <Button color="primary" class="btn" type="submit" [disabled]="loginForm.invalid">Sign in</Button>
                        </div>


                        <div style="padding-top: 3vw;">
                            <p class="horizental-line" style="color: gray;">Or Continue with</p>
                        </div>

                        <div style="display: flex; justify-content: space-between;">
                            <button class="butttons"> <i class="fa fa-facebook-square" aria-hidden="true"></i> </button>
                            <button class="butttons"><i class="fab fa-linkedin" aria-hidden="true"></i></button>
                            <button class="butttons"><i class="fa fa-facebook-square" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>